footer {
	background-color: $white;
	padding: 4rem 0;
	position: relative;
	@media(max-width: 767px){
		padding: 2rem 0;
	}
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 7px;
		background-color: $purple;
		top: -3px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&:after{
		content: "";
		position: absolute;
		width: 20%;
		height: 12px;
		background-color: $yellow;
		top: -8px;
		right: 0;
	}
	.footer-logo{
		display: block;
		img{
			width: 100%;
			display: block;
		}
	}
	.FooterContent{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		h5{
			font-size: 1.6rem;
			font-weight: 600;
			font-family: $secondaryFont;
			color: $purple;
			margin-bottom: 2rem;
		}
		.social{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				margin-right: 2rem;
				width: 35px;
				height: 35px;
				&:last-child{
					margin-right: 0;
				}
				a{
					width: 35px;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					transition: 0.5s all;
					&:hover{
						img{
							opacity: 0.75;
						}
					}
					img{
						max-width: 50%;
						transition: 0.5s all;
					}
				}
				&.facebook{
					a{
						background-color: #3D5A96;
					}
				}
				&.insta{
					a{
						background: transparent linear-gradient(180deg, #7024C4 0%, #C21975 42%, #C74C4D 70%, #E09B3D 100%) 0% 0% no-repeat padding-box;
					}
				}
				&.youtube{
					a{
						background-color: #F52929;
					}
				}
				&.twitter{
					a{
						background-color: #2AA3EF;
					}
				}
			}
		}
		.FooterMenu{
			width: 100%;
			padding: 3rem 0;
			border-bottom: thin solid #D4D4D4;
			@media(max-width: 767px){
				padding: 2rem 0;
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				@media(max-width: 767px){
					flex-wrap: wrap;
				}
				li{
					margin-right: 2rem;
					&:last-child{
						margin-right: 0;
					}
					@media(max-width: 767px){
						margin: 0.5rem 2rem;
						margin-left: 0;
					}
					a{
						font-size: 1.6rem;
						color: #2B1942;
						font-family: $secondaryFont;
						text-decoration: none;
						transition: 0.3s all;
						&:hover{
							color: $purple;
						}
					}
				}
			}
		}
		.BottomFooter{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 3rem;
			@media(max-width: 767px){
				margin-top: 2rem;
				display: block;
			}
			p{
				margin-bottom: 0;
				color: #D4D4D4;
				@media(max-width: 767px){
					margin-top: 2rem;
				}
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				/*@media(max-width: 767px){
					flex-wrap: wrap;
				}*/
				li{
					margin-left: 1.5rem;
					padding-left: 1.5rem;
					border-left: thin solid #D4D4D4;
					@media(max-width: 767px){
						margin-right: 1.5rem;
						margin-left: 0rem;
						padding-left: 0rem;
						padding-right: 1.5rem;
						border-right: thin solid #D4D4D4;
						border-left: none;
					}
					&:last-child{
						border-right: none;
					}
					a{
						font-size: 1.6rem;
						color: #D4D4D4;
						font-family: $secondaryFont;
						text-decoration: none;
						transition: 0.3s all;
						&:hover{
							color: $purple;
						}
					}
				}
			}
		}
	}
}