header{
	
	transition: 0.3s all;
	position: inherit;
	&.HeaderBg{
		position: fixed;
		transition: 0.3s all;
		width: 100%;
		z-index: 99;
		
		background-color: $yellow;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 5px;
			background-color: $base;
			transition: 0.3s all;
		}
		.HeaderWrapper{
			padding: 2.5rem 0;
			@media (max-width: 767px){
				padding: 0.5rem 0;
			}
			.LogoBox{
				.logo{
					img{
						width: 115px;
						height: 120px;
						@media (max-width: 767px){
							height: 80px;
						}
					}
				}
			}
			.DesktopNav{
				.NavigationMenu{
					ul{
						li{
							a{
								/*&:hover{
									color: $white;
								}*/
							}
						}
					}
				}
			}
		}
		.Hotlink{
			padding: 0.5rem 0;
		}
	}
	.Hotlink{
		background-color: $base;
		position: relative;
		padding: 1rem 0;
		transition: 0.3s all;
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $yellow;
			transition: 0.3s all;
		}
		p{
			margin-bottom: 0;
			color: $white;
			font-size: 1.4rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-family: $primaryFont;
			a{
				display: flex;
				color: $yellow;
				text-decoration: none;
				margin-left: 1rem;
				font-weight: 600;
				&:hover{
					color: $white;
				}
			}
		}
		.Dismiss{
			display: flex;
		    align-items: center;
		    justify-content: flex-end;
		}
	}
	.HeaderWrapper{
		padding: 7rem 0;
		transition: 0.3s all;
		@media (max-width: 767px){
			padding: 1rem 0;
		}
		.LogoBox{
			position: relative;
			.logo{
				position: absolute;
				top: -25px;
				z-index: 9;
				@media (max-width: 767px){
					top: 0;
				}
				img{
					width: auto;
					height: auto;
					transition: 1.5s all;
				}
			}
		}
		.DesktopNav{
			display: flex;
		    align-items: flex-end;
		    justify-content: flex-start;
		    flex-direction: column;
		    height: 100%;
			.NavigationMenu{
				margin-top: 0rem;
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					li{
						margin-left: 3.5rem;
						&:first-child{
							margin-left: 0;
						}
						a{
							font-size: 16px;
							font-family: $secondaryFont;
							color: $base;
							text-decoration: none;
							transition: 0.3s all;
							&:hover{
								background: linear-gradient(90deg,#23103E,#FBD200 15%,#efefef 35%,#23103E 50%,#FBD200 65%,#575df0 85%,#23103E);
								background-size: 200% 100%;
								animation: gradient 1.5s linear infinite;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								backface-visibility: hidden;
							}
						}
					}
				}
			}
		}
	}
}



body.close{
	header{
		.Hotlink{
			margin-top: -4.2rem;
			@media(max-width: 767px){
				margin-top: -6.2rem;
			}
		}
		.HeaderWrapper{
			/*margin-top: 3.5rem;*/
		}
		&.HeaderBg{
			.Hotlink{
				margin-top: -2.2rem;
				@media(max-width: 767px){
					margin-top: -4.2rem;
				}
			}
		}
	}
}



.GradientText{
	font-weight: normal;
	background: linear-gradient(90deg,#ab6bff,#9ad5f9 15%,#575df0 35%,#ab6bff 50%,#9ad5f9 65%,#575df0 85%,#ab6bff);
	background-size: 200% 100%;
	animation: gradient 3.5s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	backface-visibility: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  to {
    background-position: -100%
  }
}




/*styling open close button*/
.button {
	display:flex;
	align-content: center;
	justify-content: flex-end;
	position:inherit;
	/*right:50px;*/
	/*top:6px;*/
	/*z-index:999;*/
	font-size:30px;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#333;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:#34B484;
}
.btn-close:after {
	color:#fff;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: #34B484;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background: $base;
	overflow:auto;
	z-index:99;
	.LogoBox{
		padding: 1.5rem 0;
	}
	.close{
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
		z-index: 9;
	}
	.social{
		list-style: none;
		margin: 0;
		padding: 0 1.5rem;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		li{
			margin-right: 2rem;
			width: 35px;
			height: 35px;
			&:last-child{
				margin-right: 0;
			}
			a{
				width: 35px;
				height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: 0.5s all;
				&:hover{
					img{
						opacity: 0.75;
					}
				}
				img{
					max-width: 50%;
					transition: 0.5s all;
				}
			}
			&.facebook{
				a{
					background-color: #3D5A96;
				}
			}
			&.insta{
				a{
					background: transparent linear-gradient(180deg, #7024C4 0%, #C21975 42%, #C74C4D 70%, #E09B3D 100%) 0% 0% no-repeat padding-box;
				}
			}
			&.youtube{
				a{
					background-color: #F52929;
				}
			}
			&.twitter{
				a{
					background-color: #2AA3EF;
				}
			}
		}
	}
}
.wrap {
	margin: 7.5rem 0;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			background-color: $yellow;
			padding: 1rem 1.5rem;
			border-bottom: thin solid $purple;
			a{
				/*padding: 1rem 0;*/
				color: $purple;
				text-decoration: none;
			}
		}
	}
}