.BlogsPost{
	padding-bottom: 8rem;
	@media(max-width: 767px){
		padding-bottom: 3rem;
	}
	.Heading{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
		@media(max-width: 767px){
			margin-bottom: 0rem;
		}
		h2{
			text-align: center;
		}
	}
	a{
		text-decoration: none;
	}
	.cards{
		border-radius: 5px;
		@media(max-width: 767px){
			margin-bottom: 1.5rem;
		}
		img{
			width: 100%;
			display: block;
		}
		.BottomContent{
			background: $white;
			border-radius: 0 0 5px 5px;
			padding: 2rem 3rem;
			min-height: 195px;
			h6{
				font-size: 1.6rem;
				font-weight: 600;
				color: $purple;
				font-family: $boldFont;
				line-height: 1.5;
				margin-bottom: 1.5rem;
			}
			p{
				padding-bottom: 0;
				margin-bottom: 0;
				color: $offblack;
			}
		}
	}
	.CtaBlock{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5rem;
		@media(max-width: 767px){
			margin-top: 2rem;
		}
	}
	&.BlogPageCards{
		padding: 10rem 0;
		@media(max-width: 767px){
			padding: 5rem 0;
		}
		.cards{
			margin-bottom: 3rem;
		}
		.CtaBlock{
			justify-content: space-between;
			.Prev{
				position: relative;
				padding-left: 7rem;
				img{
					position: absolute;
					left: 3.5rem;
					top: 2rem;
					transition: 0.3s linear;
				}
				&:hover{
					img{
						left: 3rem;
					}
				}
			}
			.Next{
				position: relative;
				padding-right: 7rem;
				img{
					position: absolute;
					right: 3.5rem;
					top: 2rem;
					transition: 0.3s linear;
				}
				&:hover{
					img{
						right: 3rem;
					}
				}
			}
		}
	}
	&.Testimonials{
		position: relative;
		z-index: 1;
		overflow-x: hidden;
		&:before{
			content: "";
			position: absolute;
			width: 800px;
			height: 750px;
			background: url(../img/bubble-element.svg) no-repeat;
			background-size: 100%;
			right: -35rem;
			top: 10rem;
			z-index: -1;
		}
		
		&:after{
			content: "";
			position: absolute;
			width: 800px;
			height: 750px;
			background: url(../img/bubble-element.svg) no-repeat;
			background-size: 100%;
			right: -35rem;
			bottom: 40rem;
			z-index: -1;
		}
		.testimonialsWrapper{
			position: relative;
			z-index: 1;
			&:before{
				content: "";
				position: absolute;
				width: 790px;
				height: 690px;
				background: url(../img/star-element.svg) no-repeat;
				background-size: contain;
				left: 5rem;
				top: 35rem;
				z-index: -1;
			}
			.row{
				margin-right: -30px;
    			margin-left: -30px;
    			.col-12{
    				padding-right: 30px;
    				padding-left: 30px;
    			}
			}
			.TestimonialCard{
				background-color: $white;
				border-radius: 5px;
				padding: 4rem;
				margin-bottom: 6rem;
				box-shadow: 10px 10px #FBD200;
				@media (max-width: 768px){
					margin-bottom: 3rem;
					box-shadow: 5px 5px #FBD200;
				}
				h4{
					font-family: $boldFont;
					color: $purple;
					font-weight: 500;
					font-size: 2rem;
					margin-bottom: 1.5rem;
				}
				p{
					color: $offblack;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		.CtaBlock{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 3rem;
		}	
		.Newsletter{
			margin-top: 15rem;
			background: $purple;
			position: relative;
			z-index: 1;
			padding: 6rem 0;
			@media(max-width: 767px){
				margin-top: 7rem;
			}
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/full-element.svg) center no-repeat;
				background-size: 100%;
				top: 0;
				bottom: 0;
				opacity: 0.35;
				z-index: -1;
				@media(max-width: 767px){
					background-size: cover;
				}
			}
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/ring-element.svg) center no-repeat;
				background-size: 100%;
				top: 0;
				bottom: 0;
				opacity: 0.35;
				z-index: -1;
				@media(max-width: 767px){
					background-size: cover;
				}
			}
			.Content{
				max-width: 600px;
				margin: 0 auto;
				@media(max-width: 767px){
					max-width: 100%;
					padding: 0 1.5rem;
				}
				img{
					margin: -12rem auto 0;
					display: block;
					@media(max-width: 767px){
						margin: -9rem auto 0;
					}
				}
				h2{
					text-align: center;
					color: $yellow;
					font-weight: 700;
					font-family: $boldFont;
					margin-bottom: 1.5rem;
				}
				p{
					color: $white;
					text-align: center;
				}
				form{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					input[type="email"]{
						border-radius: 50px 0 0 50px;
						background-color: $white;
						border: none;
						padding: 1.5rem;
						flex-basis: 75%;
						&:focus{
							outline: none;
						}
					}
					input[type="submit"]{
						flex-basis: 25%;
						background: transparent linear-gradient(262deg, #FBD200 0%, #EE5800 100%) 0% 0% no-repeat padding-box;
						border: none;
						padding: 1.5rem;
						border-radius: 0 50px 50px 0;
						font-size: 1.6rem;
						font-family: $boldFont;
						font-weight: 700;
						color: $white;
						cursor: pointer;
						transition: 1s all;
						&:hover{
							background: $yellow;
							color: $purple;
						}
						&:focus{
							outline: none;
						}
					}
				}
			}
		}	
	}
}