.GradientButton{
	color: $white;
	font-family: $secondaryFont;
	font-weight: 700;
	background: transparent linear-gradient(266deg, #FBD200 0%, #EE5800 100%) 0% 0% repeat padding-box;
	background-size: 200% 100%;
	-webkit-background-clip: background;
	-webkit-text-fill-color: $white;
	backface-visibility: hidden;
	padding: 1.5rem 5rem;
	border-radius: 50px;
	text-decoration: none;
	transition: 0.3s all;
	&:hover{

		animation: gradient 1.5s linear infinite;
	}
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  to {
    background-position: -100%
  }
}

.CtaBlock{
	a{
		color: $white;
		font-family: $secondaryFont;
		font-weight: 700;
		padding: 1.5rem 5rem;
		border-radius: 50px;
		text-decoration: none;
		background-color: $purple;
		box-shadow: $yellow 2px 2px 2px;
		transition: 0.3s all;
		@media (max-width: 767px){
			font-size: 12px;
		}
		&:hover{
			color: $purple;
			background-color: $yellow;
			box-shadow: $purple 2px 2px 2px;
		}
	}
}


.SimpleBtn{
	color: $white;
	font-family: $secondaryFont;
	font-weight: 700;
	font-size: 1.6rem;
	text-decoration: none;
	transition: 0.3s all;
	position: relative;
	z-index: 1;
	&:after{
		content: "";
        position: absolute;
        width: 100%;
        height: 13px;
        background-color: #311550;
        transform: rotate(-1deg);
        bottom: 0;
        right: -10px;
        z-index: -1;
        transition: 0.3s all;
	}
	&:before{
		content: "";
        position: absolute;
        width: 0%;
        height: 13px;
        background-color: $yellow;
        transform: rotate(-1deg);
        bottom: 0;
        right: -10px;
        z-index: -1;
        transition: 0.3s all;
	}
	&:hover{
		color: #311550;
		&:after{
			width: 0;
		}
		&:before{
			width: 100%;
		}
	}
}