.DarkBgWithLeftContent{
	background-color: $purple;
	position: relative;
	/*padding: 6rem 0;*/
	margin-top: 3rem;
	margin-bottom: 6rem;
	z-index: 1;
	/*overflow: hidden;*/
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(../img/ring-element.svg) center no-repeat;
		background-size: 100%;
		top: 0;
		bottom: 0;
		opacity: 0.35;
		z-index: -1;
		@media(max-width: 767px){
			background-size: cover;
		}
	}
	.LeftContent{
		padding: 6rem;
		@media(max-width: 767px){
			padding: 1.5rem;
			padding-bottom: 30rem;
		}
		h2{
			color: $yellow;
			font-weight: 700;
			font-family: $boldFont;
			margin-bottom: 2.5rem;
		}
		p{
			color: $white;
			margin-bottom: 1.5rem;
		}
		.CtaBtns{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 3.5rem;
			@media(max-width: 767px){
				margin-top: 2rem;
			}
			.GradientButton{
				margin-right: 5rem;
				@media(max-width: 767px){
					padding: 0.5rem 2rem;
					margin-right: 3rem;
				}
			}
		}
	}
		
	.OverflowImg{
		position: absolute;
		right: -2.5rem;
		top: -2.5rem;
		bottom: unset;
		@media(max-width: 767px){
			top: unset;
			right: 0;
			bottom: 0rem;
			z-index: -1;
		}
	}
}