.HomeBannerSlider{
	/*background-color: $base;*/
	overflow: hidden;
	.SliderWithContent{
		
		.HomeBanner{
			/*height: 650px;*/
			position: relative;
			margin-bottom: 0;
			.slick-dots{
				bottom: 25px;
				li{
					width: 10px;
					height: 10px;
					margin: 0 7px;
					button{
						border-radius: 50%;
						background-color: $white;
						width: 10px;
						height: 10px;
						&:before{
							display: none;
						}
					}
					&.slick-active{
						button{
							background-color: $yellow;
						}
					}
				}
			}
			.slick-list,.slick-track{
				height: 100%;
				
				.slide-content{
					height: 100%;
					position: relative;
					.BannerTextContent{
						position: absolute;
						width: 100%;
						bottom: 50%;
						left: 0;
						right: 0;
						padding: 3rem 5rem;
						color: $white;
						text-align: center;
						@media(max-width: 767px){
							bottom: 15%;
						}
						h1{
							color: $white;
							font-size: 4.8rem;
							margin: 0;
							margin-bottom: 1rem;
							text-align: center;
							font-family: $primaryFont;
							font-weight: 300;
							@media(max-width: 767px){
								font-size: 2rem;
							}
						}
						p{
							margin-bottom: 0;
							font-family: $secondaryFont;
							letter-spacing: 1px;
							color: $white;
							text-align: center;
							margin-bottom: 3rem;
							@media(max-width: 767px){
								margin-bottom: 2rem;
							}
						}
						.GradientButton{
							margin: 0 auto;
							display: inline-block;
							@media(max-width: 767px){
								padding: 0.5rem 3rem;
							}
						}
					}
				}
			}
			.slick-slider {
			    /*margin:0 -5px;*/
			}
			.slick-slide{
				/*margin: 0 5px;*/
				img{
						width: 100%;
					}
			}
			.slick-arrow{
	            bottom:-5px;
	            top: unset;
	            transform:translateY(-50%);
	            width:45px;
	            height:44px;
	            z-index:1;
	            background-size:25%;
	            &.slick-prev{
	                left:2rem;
	                width: 45px;
	                background: url(../img/leftarw.svg) no-repeat center;
	                &:before{
	                    content:'';
	                }
	                @media(max-width: 767px){
	                    bottom: -15px;
	                    /*right: 0;*/
	                    left: initial;
	                    margin-right: 48px;
	                }
	            }
	            &.slick-next{
	                right: 2rem;
	                background: url(../img/rightarw.svg) no-repeat center;
	                &:before{
	                    content:'';
	                }
	                @media(max-width: 767px){
	                    bottom:-15px;
	                    right: 0;
	                }
	            }
	        }
		}
	}
}