.ImgCardsSlider{
	padding-bottom: 3.5rem;
	overflow: hidden;
	position: relative;
	@media(min-width: 767px){
		padding-bottom: 6rem;
	}
	.ImageWithContent{
		padding-left: 12rem;
		@media(min-width: 1600px){
			padding-left: 40rem;
		}

		.slick-list,.slick-track{
			height: 100%;
			padding-right: 30rem;
			@media(min-width: 1600px){
				padding-right: 40%;
			}
		}
		.slider{
			.slick-arrow{
	            bottom:-17px;
	            top: unset;
	            transform:translateY(-50%);
	            width:45px;
	            height:44px;
	            z-index:1;
	            background-size:25%;
	            &.slick-prev{
	                left:10px;
	                width: 45px;
	                background: #EA7B0C url(../img/leftarw.svg) no-repeat center;
	                &:before{
	                    content:'';
	                }
	                @media(max-width: 767px){
	                    bottom:-34px;
	                    right: 0;
	                    left: initial;
	                    margin-right: 48px;
	                }
	            }
	            &.slick-next{
	                right: unset;
	                left: 10px;
	                bottom: 27px;
	                background: $base url(../img/rightarw.svg) no-repeat center;
	                &:before{
	                    content:'';
	                }
	                @media(max-width: 767px){
	                    bottom:-34px;
	                }
	            }
	        }
			.slick-slider {
			    margin:0 -10px;
			}
			.slick-slide{
				margin: 0 10px;

			}
			.ImgWithCards{
				position: relative;
				height: 445px;

				.ImageBlock{
					height: 375px;
					img{
						width: 100%;
						max-height: 375px;
						position: absolute;
						bottom: 0;
					}
				}
				.ContentCard{
					position: absolute;
					padding: 2.5rem;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 80%;
					background-color: $white;
					border: 1px solid $base;
					.bottomBorder{
						padding-bottom: 1.5rem;
						margin-bottom: 1.5rem;
					}
					.ArwButton{
						display: flex;
						justify-content: flex-end;
					}
				}
				&.TopCardBottomImg{
					.ImageBlock{
						img{
							bottom: unset;
							top: 0;
						}
					}
					.ContentCard{
						top: unset;
						bottom: 0;
					}
				}
			}
		}
	}
}