.LeftImgRightContent{
	position: relative;
	overflow-x: hidden;
	z-index: 1;
	&:before{
		content: "";
		position: absolute;
		width: 870px;
		height: 870px;
		background: url(../img/bubble-element.svg) no-repeat;
		background-size: contain;
		left: -52rem;
		top: 35rem;
		z-index: -1;
	}
	&:after{
		content: "";
		position: absolute;
		width: 800px;
		height: 750px;
		background: url(../img/solid-element.svg) no-repeat;
		background-size: 100%;
		right: -15rem;
		bottom: 0rem;
		z-index: -1;
	}
	.WhiteBgBlock{
		background-color: $white;
		display: block;
		margin-bottom: 8rem;
		@media(max-width: 767px){
			margin-bottom: 5rem;
		}
		.LeftImg{
			img{
				width: 100%;
				display: block;
			}
		}
		.RightContent{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			padding: 0 5rem;
			@media(max-width: 767px){
				padding: 1.5rem;
			}
			h4{
				font-size: 2.4rem;
				color: $purple;
				margin-bottom: 1.5rem;
				font-family: $boldFont;
				font-weight: 600;
			}
			p{
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.Centercontent{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		max-width: 900px;
		p{
			margin-bottom: 0;
		}
	}
	.ThreeCards{
		margin-top: 4rem;
		.Cards{
			border-radius: 5px;
			@media(max-width: 767px){
				margin-bottom: 1.5rem;				
			}
			
			.Topimg{
				width: 100%;
				display: block;
			}
			.BottomContent{
				background: $white;
				border-radius: 0 0 5px 5px;
				padding: 3rem;
				h6,p{
					font-size: 1.6rem;
					font-weight: 600;
					color: $purple;
					font-family: $primaryFont;
				}
				p{
					padding-bottom: 1.5rem;
					border-bottom: thin solid #d4d4d4;
				}
				.PriceLink{
					display: flex;
					align-items: center;
					justify-content: space-between;
					span{
						font-size: 1.6rem;
						color: $offblack;
					}
					a{
						text-decoration: none;
						color: $offblack;
						transition: 0.3s all;
						img{
							transition: 0.3s all;
							margin-left: 5px;
						}
						&:hover{
							color: $purple;
							img{
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
	.CtaBlock{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5rem;
	}
}

