.Section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media screen and (min-width: 768px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.SmallContainer {
  max-width: 800px;
  @media (min-width: 992px) {

  }
  @media (min-width: 768px) {

  }
}


.bottomBorder{
	position: relative;
	padding-bottom: 2.5rem;
	margin-bottom: 3rem;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: $base;
	}
}

.WhitebottomBorder{
	position: relative;
	padding-bottom: 2.5rem;
	margin-bottom: 3rem;
	color: $white;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: $white;
	}
}

.lightpinksection{
	background-color: rgba(#FDE1D1, 0.25);
}