.TopContentWithThreeCards{
	padding-top: 2rem;
	padding-bottom: 8rem;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	@media(max-width: 767px){
		padding-bottom: 4rem;
	}
	&:before{
		content: "";
		position: absolute;
		width: 870px;
		height: 870px;
		background: url(../img/bubble-element.svg) no-repeat;
		background-size: contain;
		right: -25rem;
		top: 5rem;
		z-index: -1;
	}
	&.SinglePodcastCards{
		overflow-y: hidden;
		position: relative;
		z-index: 1;
		&:before{
			content: "";
			position: absolute;
			width: 700px;
			height: 700px;
			background: url(../img/bubble-element.svg) no-repeat;
			background-size: contain;
			right: -10rem;
			top: -8rem;
			z-index: -1;
		}
	}
	.Centercontent{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		max-width: 900px;
		p{
			margin-bottom: 1.5rem;
		}
	}
	.ThreeCards{
		margin-top: 4rem;
		@media(max-width: 767px){
			margin-top: 2rem;
		}
		.Cards{
			border-radius: 5px;
			@media(max-width: 767px){
				margin-bottom: 1.5rem;
			}
			.Topimg{
				width: 100%;
				display: block;
			}
			.BottomContent{
				background: $white;
				border-radius: 0 0 5px 5px;
				padding: 3rem;
				h6,p{
					font-size: 1.6rem;
					font-weight: 600;
					color: $purple;
					font-family: $primaryFont;
					line-height: 1.5;
				}
				p{
					padding-bottom: 1.5rem;
					border-bottom: thin solid #d4d4d4;
				}
				.PriceLink{
					display: flex;
					align-items: center;
					justify-content: space-between;
					span{
						font-size: 1.6rem;
						color: $offblack;
					}
					a{
						text-decoration: none;
						color: $offblack;
						transition: 0.3s all;
						img{
							transition: 0.3s all;
							margin-left: 5px;
						}
						&:hover{
							color: $purple;
							img{
								margin-left: 7px;
							}
						}
					}
				}
				.playTime{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 2.5rem;
					span{
						font-size: 1.4rem;
						color: $offblack;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 5px;
							width: 20px;
							height: 15px;
						}
					}
					a{
						color: $white;
						font-size: 1.4rem;
						font-family: $secondaryFont;
						font-weight: 700;
						padding: 0.5rem 2rem;
						border-radius: 50px;
						text-decoration: none;
						background-color: $purple;
						box-shadow: $yellow 2px 2px 2px;
						transition: 0.3s all;
						display: flex;
						align-items: center;
						justify-content: space-between;
						img{
							margin-left: 5px;
							width: 20px;
						}
						&:hover{
							color: $purple;
							background-color: $yellow;
							box-shadow: $purple 2px 2px 2px;
						}
					}
				}
			}
		}
	}
	.CtaBlock{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5rem;
	}
	.Newsletter{
		margin-top: 15rem;
		background: $purple;
		position: relative;
		z-index: 1;
		padding: 6rem 0;
		@media(max-width: 767px){
			margin-top: 7rem;
		}
		&:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/full-element.svg) center no-repeat;
			background-size: 100%;
			top: 0;
			bottom: 0;
			opacity: 0.35;
			z-index: -1;
			@media(max-width: 767px){
				background-size: cover;
			}
		}
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/ring-element.svg) center no-repeat;
			background-size: 100%;
			top: 0;
			bottom: 0;
			opacity: 0.35;
			z-index: -1;
			@media(max-width: 767px){
				background-size: cover;
			}
		}
		.Content{
			max-width: 600px;
			margin: 0 auto;
			@media(max-width: 767px){
				max-width: 100%;
				padding: 0 1.5rem;
			}
			img{
				margin: -12rem auto 0;
				display: block;
			}
			h2{
				text-align: center;
				color: $yellow;
				font-weight: 700;
				font-family: $boldFont;
				margin-bottom: 1.5rem;
			}
			p{
				color: $white;
				text-align: center;
			}
			form{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				input[type="email"]{
					border-radius: 50px 0 0 50px;
					background-color: $white;
					border: none;
					padding: 1.5rem;
					flex-basis: 75%;
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					flex-basis: 25%;
					background: transparent linear-gradient(262deg, #FBD200 0%, #EE5800 100%) 0% 0% no-repeat padding-box;
					border: none;
					padding: 1.5rem;
					border-radius: 0 50px 50px 0;
					font-size: 1.6rem;
					font-family: $boldFont;
					font-weight: 700;
					color: $white;
					cursor: pointer;
					transition: 1s all;
					&:hover{
						background: $yellow;
						color: $purple;
					}
					&:focus{
						outline: none;
					}
				}
			}
		}
	}
}