* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 400 16px/1.4 $secondaryFont;
  color: $black;
  transition: all .4s .3s ease-in;
  background-color: $bodycolor;
}
body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	// overflow: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #505050;
  font-family: $secondaryFont;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: $primaryFont;
  color: $purple;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6{
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.DesktopOnly{
  display: none;
  @media (min-width: 768px) {
      display: block;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}


.HeadingwithYellowBorder{
    position: relative;
    z-index: 1;
    margin-bottom: 3rem;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 14px;
        background-color: $yellow;
        transform: rotate(-1deg);
        bottom: 0;
        right: -10px;
        z-index: -1;
    }
}