$base : #23103E;
$black: #000;
$white: #fff;
$offblack: #4D4D4D;
$darkgrey: #292929;
$lightgrey: #838383;
$darkblue: #052E5F;
$yellow: #FBD200;
$bodycolor: #F6F3FA;
$purple: #462768;

$primaryFont: 'Museo_Slab_300';
$boldFont: 'Museo_Slab_500';
$secondaryFont: 'Work Sans', sans-serif;
