@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

@font-face {
	font-family: 'Museo_Slab_300';
	src: url('../fonts/Museo_Slab_300.eot');
	src: local('☺'), url('../fonts/Museo_Slab_300.woff') format('woff'), 
	url('fonts/Museo_Slab_300.ttf') format('truetype'), 
	url('fonts/Museo_Slab_300.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo_Slab_500';
	src: url('../fonts/Museo_Slab_500.eot');
	src: local('☺'), url('../fonts/Museo_Slab_500.woff') format('woff'), 
	url('../fonts/Museo_Slab_500.ttf') format('truetype'), 
	url('../fonts/Museo_Slab_500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}