.contactusSection{
	padding: 10rem 0;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	@media (max-width: 768px){
		padding: 5rem 0;
	}
	&:before{
		content: "";
		position: absolute;
		width: 820px;
		height: 820px;
		background: url(../img/solid-element.svg) no-repeat;
		background-size: contain;
		left: -30rem;
		top: 12rem;
		z-index: -1;
		@media (max-width: 768px){
			top: 0;
			background-size: 100%;
		}
	}
	&:after{
		content: "";
		position: absolute;
		width: 800px;
		height: 750px;
		background: url(../img/bubble-element.svg) no-repeat;
		background-size: 100%;
		right: -35rem;
		bottom: 30rem;
		z-index: -1;
	}
	.ContactBlock{
		p{
			text-align: center;
			font-family: $secondaryFont;
			color: $base;
			margin-bottom: 1rem;
		}
		h1{
			font-size: 4.8rem;
			font-family: $primaryFont;
			text-align: center;
			color: $base;
			margin: 0 0 3rem;
			padding-bottom: 3rem;
			position: relative;
			@media (max-width: 768px){
				font-size: 2.3rem;
			}
			a{
				color: $base;
				text-decoration: none;
				transition: 0.3s all;
				&:hover{
					color: $yellow;
				}
			}
			&:before{
				content: "";
				position: absolute;
				width: 60px;
				height: 4px;
				margin: 0 auto;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $yellow;
			}
		}
	}
	.SocialBlock{
		p{
			text-align: center;
			color: $offblack;
		}
		.social{
			list-style: none;
			margin: 0;
			padding: 0 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				margin-right: 2rem;
				width: 35px;
				height: 35px;
				&:last-child{
					margin-right: 0;
				}
				a{
					width: 35px;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					transition: 0.5s all;
					&:hover{
						img{
							opacity: 0.75;
						}
					}
					img{
						max-width: 50%;
						transition: 0.5s all;
					}
				}
				&.facebook{
					a{
						background-color: #3D5A96;
					}
				}
				&.insta{
					a{
						background: transparent linear-gradient(180deg, #7024C4 0%, #C21975 42%, #C74C4D 70%, #E09B3D 100%) 0% 0% no-repeat padding-box;
					}
				}
				&.youtube{
					a{
						background-color: #F52929;
					}
				}
				&.twitter{
					a{
						background-color: #2AA3EF;
					}
				}
			}
		}
	}
	.Newsletter{
		margin-top: 15rem;
		background: $purple;
		position: relative;
		z-index: 1;
		padding: 6rem 0;
		@media(max-width: 767px){
			margin-top: 7rem;
		}
		&:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/full-element.svg) center no-repeat;
			background-size: 100%;
			top: 0;
			bottom: 0;
			opacity: 0.35;
			z-index: -1;
			@media(max-width: 767px){
				background-size: cover;
			}
		}
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/ring-element.svg) center no-repeat;
			background-size: 100%;
			top: 0;
			bottom: 0;
			opacity: 0.35;
			z-index: -1;
			@media(max-width: 767px){
				background-size: cover;
			}
		}
		.Content{
			max-width: 600px;
			margin: 0 auto;
			@media(max-width: 767px){
				max-width: 100%;
				padding: 0 1.5rem;
			}
			img{
				margin: -12rem auto 0;
				display: block;
				@media(max-width: 767px){
					margin: -9rem auto 0;
				}
			}
			h2{
				text-align: center;
				color: $yellow;
				font-weight: 700;
				font-family: $boldFont;
				margin-bottom: 1.5rem;
			}
			p{
				color: $white;
				text-align: center;
			}
			form{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				input[type="email"]{
					border-radius: 50px 0 0 50px;
					background-color: $white;
					border: none;
					padding: 1.5rem;
					flex-basis: 75%;
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					flex-basis: 25%;
					background: transparent linear-gradient(262deg, #FBD200 0%, #EE5800 100%) 0% 0% no-repeat padding-box;
					border: none;
					padding: 1.5rem;
					border-radius: 0 50px 50px 0;
					font-size: 1.6rem;
					font-family: $boldFont;
					font-weight: 700;
					color: $white;
					cursor: pointer;
					transition: 1s all;
					&:hover{
						background: $yellow;
						color: $purple;
					}
					&:focus{
						outline: none;
					}
				}
			}
		}
	}
}