.FaqSection{
	padding: 10rem 0;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	@media (max-width: 768px){
		padding: 5rem 0;
	}
	&:before{
		content: "";
		position: absolute;
		width: 820px;
		height: 820px;
		background: url(../img/solid-element.svg) no-repeat;
		background-size: contain;
		left: -30rem;
		top: 12rem;
		z-index: -1;
	}
	&:after{
		content: "";
		position: absolute;
		width: 800px;
		height: 750px;
		background: url(../img/bubble-element.svg) no-repeat;
		background-size: 100%;
		right: -35rem;
		bottom: 30rem;
		z-index: -1;
	}
	.TopHeading{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.AccordianBlock{
		max-width: 900px;
		margin: 0 auto;
		.Reachout{
			margin-top: 2rem;
			p{
				color: $offblack;
				margin-bottom: 0;
				a{
					text-decoration: none;
					color: $purple;
					transition: color 0.3s linear;
					&:hover{
						color: $yellow;
					}
				}
			}
		}
	}
	.set{
	  position: relative;
	  width: 100%;
	  height: auto;
	  border-bottom: 1px solid #ddd;
	}
	.set > a{
		background-color: transparent;
		display: block;
		padding: 2rem 0;
		padding-right: 10rem;
		text-decoration: none;
		color: #555;
		font-family: $boldFont;
		font-size: 2.4rem;
		font-weight: 400;
		transition:all 0.2s linear;
		position: relative;
		@media (max-width: 768px){
			padding-right: 5rem;
			font-size: 2rem;
		}
		&:before{
			content: "";
			position: absolute;
			right: 20px;
			top: 35px;
			width: 20px;
			height: 1px;
			background-color: $offblack;
		}
		&:after{
			content: "";
			position: absolute;
			right: 29px;
			top: 25px;
			height: 20px;
			width: 1px;
			background-color: $offblack;
			transition:all 0.2s linear;
		}
		&.active{
			padding: 2rem 0 1rem;
			padding-right: 10rem;
			@media (max-width: 768px){
				padding-right: 5rem;
			}
			&:after{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	
	.content{
	  /*background-color: #fff;*/
	  display:none;
	  
	}
	.content p{
	  padding: 10px 0;
	  margin: 0;
	  color: #333;
	}
}

.video_wrapper{
  	position: relative;
  	height: 445px;
  	margin-top: 1rem;
  }

.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
 background-image:url(http://c.fastcompany.net/multisite_files/cocreate/imagecache/inline-large/inline/2013/01/1682283-inline-inline-2-music-veteran-amani-duncan-on-marketing-cf-martin-the-worlds-oldest-guitar-maker.jpg);
  background-size: 100%;
  border: none;
   text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster:hover {
  cursor: pointer;
}
.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background-color: $white;
  border-radius: 100%;
  transition: background-color 300ms;
  box-shadow: 0 0 0 rgba(255,255,255, 0.6);
  animation: pulse 2s infinite;
}
.videoPoster:after {
    content: '';
    position: absolute;
    top: 51.5%;
    left: 50.5%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 15px solid $offblack;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:hover:before,  .videoPoster:focus:before {
    background-color: $purple;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: $yellow;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}