.PodcastCardsBlock{
	padding: 10rem 0;
	@media (max-width: 768px){
		padding: 5rem 0;
	}
	.CardsWrapper{
		max-width: 1100px;
		margin: 0 auto;		
		@media (max-width: 768px){
			max-width: 100%;
		}
		.TopHeading{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			max-width: 900px;
			margin: 0 auto 3rem;
		}
		.SearchPodcast{
			margin-bottom: 3rem;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				@media (max-width: 768px){
					margin: 0 0 2rem 0;
				}
				li{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					a{
						background-color: red;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						margin-right: 1rem;
					}
					span{
						font-family: $secondaryFont;
						font-weight: 600;
						color: $offblack;
					}
				}
			}
			form{
				width: 100%;
				position: relative;
				input[type="search"]{
					width: 100%;
					padding: 1rem;
					border-radius: 50px;
					background-color: transparent;
					border: thin solid #d4d4d4;
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					position: absolute;
					right: 0;
					background: url(../img/search.svg) no-repeat;
					border: none;
					width: 50px;
					height: 100%;
					background-position: center;
					top: 0;
					cursor: pointer;
					&:focus{
						outline: none;
					}
				}
			}
		}
		.Cards{
			background-color: $white;
			border-radius: 5px;
			margin-bottom: 3rem;
			&:last-child{
				margin-bottom: 0;
			}
			.ImgBlock{
				img{
					width: 100%;
					display: block;
				}
			}
			.RightContent{
				display: flex;
				align-items: flex-start;
				justify-content: center;
				height: 100%;
				flex-direction: column;
				padding: 3rem 6rem 3rem 2rem;
				@media (max-width: 768px){
					padding-right: 3rem;
					height: auto;
				}
				h3{
					font-size: 2rem;
					color: $purple;
					font-family: $boldFont;
					font-weight: 600;
				}
				h6{
					color: #bababa;
					font-size: 1.4rem;
					font-family: $secondaryFont;
					margin-bottom: 4rem;
				}
				.playTime{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 2.5rem;
					span{
						font-size: 1.4rem;
						color: $offblack;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img{
							margin-right: 5px;
							width: 20px;
							height: 15px;
						}
						&:last-child{
							margin-left: 2rem;
						}
					}
					
				}
				.BtnWithLogo{
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					margin-top: 4rem;
					a{
						color: $white;
						font-size: 1.6rem;
						font-family: $secondaryFont;
						font-weight: 700;
						padding: 0.5rem 1.75rem;
						border-radius: 50px;
						text-decoration: none;
						background-color: $purple;
						box-shadow: $yellow 2px 2px 2px;
						transition: 0.3s all;
						display: flex;
						align-items: center;
						justify-content: space-between;
						img{
							margin-left: 20px;
							width: 25px;
						}
						&:hover{
							color: $purple;
							background-color: $yellow;
							box-shadow: $purple 2px 2px 2px;
						}
					}
				}
			}
		}
		.CtaBlock{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 8rem;
		}
		.Soundcloud{
			.g-background-default{
				background-color: $white !important;
			}
		}
		.ContentBox{
			margin-top: 3rem;
			#text{
				display:none;
			}
			h4{
				color: $offblack;
				font-family: $boldFont;
				font-size: 2.4rem;
				margin-bottom: 1.5rem;
			}
			p{
				line-height: 1.75;
			}
			button{
				background-color: transparent;
				border: none;
				padding: 0;
				cursor: pointer;
				font-family: $boldFont;
				font-weight: 600;
				color: $offblack;
				&:focus{
					outline: none;
				}
			}
		}
	}
}