.SingleBlogPage{
	padding: 10rem 0;
	@media(max-width: 767px){
		padding: 5rem 0;
	}
	.SingleBlogWrapper{
		max-width: 740px;
		margin: 0 auto;
		.Heading{
			margin-bottom: 2rem;
			h1{
				margin: 0;
				color: $base;
				font-family: $primaryFont;
				font-size: 4rem;
				@media(max-width: 767px){
					font-size: 3rem;
				}
			}
		}
		.AuthorShare{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 2rem;
			margin-bottom: 2rem;
			border-bottom: thin solid #E5E5E5;
			@media(max-width: 767px){
				display: block;
			}
			&.CategoryShare{
				border-top: thin solid #E5E5E5;
				padding-top: 2rem;
			}
			.Categories{
				p{
					color: #A4A4A4;
					margin-bottom: 0.5rem;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						text-decoration: none;
						color: $offblack;
					}
				}
			}
			.Author{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				img{
					margin-right: 1rem;
					border-radius: 50%;
				}
				span{
					font-family: $secondaryFont;
					font-size: 1.4rem;
					color: #4d4d4d;
					strong{
						color: $base;
						font-weight: normal;
					}
				}
			}
			.Share{
				.social{
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					@media(max-width: 767px){
						justify-content: flex-start;
						margin: 1.5rem 0 0 0;
					}
					li{
						margin-left: 0.5rem;
						width: 30px;
						height: 30px;
						&:first-child{
							margin-left: 0;
						}
						a{
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							transition: 0.5s all;
							&:hover{
								img{
									opacity: 0.75;
								}
							}
							img{
								max-width: 40%;
								transition: 0.5s all;
							}
						}
						&.facebook{
							a{
								background-color: #3D5A96;
							}
						}
						&.linkedin{
							a{
								background: #0e76a8;
							}
						}
						&.youtube{
							a{
								background-color: #F52929;
							}
						}
						&.twitter{
							a{
								background-color: #2AA3EF;
							}
						}
					}
				}
			}
		}
		.CommentBox{
			margin-top: 3rem;
			h4{
				font-family: $boldFont;
				color: $purple;
				font-size: 2rem;
				font-weight: 600;
				margin-bottom: 3rem;
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					border-bottom: thin solid #E5E5E5;
					padding-bottom: 2.5rem;
					margin-top: 2.5rem;
					img{
						margin-right: 1.5rem;
					}
					.comment{
						h6{
							font-family: $secondaryFont;
							font-size: 16px;
							color: $offblack;
							font-weight: 600;
							margin-bottom: 1rem;
						}
						p{
							line-height: 1.5;
							&.datetime{
								color: #afafaf;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		.ReplyBox{
			margin-top: 3rem;
			h4{
				font-family: $boldFont;
				color: $purple;
				font-size: 2rem;
				font-weight: 600;
				margin-bottom: 3rem;
			}
			form{
				textarea{
					width: 100%;
					border-radius: 5px;
					background-color: $white;
					border: thin solid #E5E5E5;
				}
				input{
					color: $white;
					font-family: $secondaryFont;
					font-weight: 700;
					padding: 1rem 5rem;
					border-radius: 50px;
					text-decoration: none;
					border: none;
					background-color: $purple;
					box-shadow: $yellow 2px 2px 2px;
					transition: 0.3s all;
					cursor: pointer;
					margin-top: 2rem;
					&:hover{
						color: $purple;
						background-color: $yellow;
						box-shadow: $purple 2px 2px 2px;
					}
				}
			}
		}
		.OnlyContent{
			margin-bottom: 3rem;
			&.NeedBorderBottom{
				padding-bottom: 1rem;
				margin-bottom: 2rem;
				border-bottom: thin solid #E5E5E5;
			}
			h4{
				font-size: 2.4rem;
				font-family: $boldFont;
				font-weight: 500;
				color: $purple;
				margin-bottom: 1.5rem;
			}
			p{
				line-height: 1.75;
				color: $offblack;
				font-family: $secondaryFont;
				&:last-child{
					margin-bottom: 0;
				}
			}
			ol{
				/*list-style: none;*/
				margin: 2rem 0 0;
				padding: 0 0 0 3rem;
				font-weight: 700;
				li{
					padding-left: 1.5rem;
					color: $offblack;
					margin-bottom: 2rem;
					line-height: 1.75;
					position: relative;
					z-index: 1;
					font-weight: 700;
					&:before{
						content: "";
						position: absolute;
						left: -2.9rem;
						top: 0;
						background: url(../img/bullets.svg) no-repeat;
						width: 35px;
						height: 30px;
						background-size: contain;
						z-index: -1;
					}
					span{
						font-weight: normal;
					}
				}
			}
		}
		.OnlyImg{
			margin: 3rem -1.5rem 0;
			img{
				width: 100%;
				display: block;
			}
		}		
		.Imgtext{
			font-size: 12px;
			color: $offblack;
			display: block;
			margin-top: 1rem;
			margin-bottom: 3rem;
		}
	}
}